{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>About</h1>
    </header>
    <main>
        <p>Vítejte na stránce o aplikaci!</p>
<p>Tato aplikace vám umožňuje snadno a efektivně spravovat vaše kontakty. Umožňuje ukládání a úpravu důležitých informací, jako jsou jména, telefonní čísla, e-mailové adresy, firmy, a další poznámky. Díky přehlednému uživatelskému rozhraní máte všechny své kontakty vždy na dosah ruky a můžete je rychle a pohodlně vyhledávat a spravovat.</p>
<p>Aplikace je navržena tak, aby splňovala potřeby uživatelů, kteří potřebují mít přehled o svých osobních i profesních kontaktech. Pomocí jednoduchých funkcí můžete rychle přidávat nové kontakty, aktualizovat stávající informace nebo snadno odstranit již nepotřebné záznamy.</p>
<p>Vaše kontakty jsou bezpečně uloženy a přístupné odkudkoli, kde máte připojení k internetu. Aplikace je tak ideální volbou pro ty, kteří chtějí mít své kontakty vždy uspořádané a přehledně na jednom místě.</p>
</p>
        <!-- Přidejte více informací o vašem projektu -->
    </main>
    <footer>
        <a href="{% url 'home' %}" class="home-button">Hlavní stránka</a>
        <p>© 2024 Martina Frantová</p>
    </footer>
</body>
</html>
