{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ochrana osobních údajů</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Ochrana osobních údajů</h1>
    </header>
    <main>
        <h2>Úvod</h2>
        <p>Vaše soukromí je pro nás důležité. Tato politika ochrany osobních údajů vysvětluje, jak shromažďujeme, používáme a chráníme vaše osobní údaje.</p>

        <h2>Shromažďování osobních údajů</h2>
        <p>Shromažďujeme následující osobní údaje: jméno, e-mailová adresa, telefonní číslo, informace o používání našich služeb a technické údaje.</p>

        <h2>Účel zpracování osobních údajů</h2>
        <p>Vaše údaje používáme k poskytování a zlepšování našich služeb, komunikaci s vámi a analytickým účelům.</p>

        <h2>Sdílení osobních údajů</h2>
        <p>Vaše údaje nesdílíme s třetími stranami, s výjimkou poskytovatelů služeb, právních orgánů a partnerských společností.</p>

        <h2>Bezpečnost údajů</h2>
        <p>Vaše osobní údaje chráníme pomocí technických a organizačních opatření, včetně šifrování a zabezpečených serverů.</p>

        <h2>Práva uživatelů</h2>
        <p>Máte právo na přístup k vašim osobním údajům, jejich opravu, vymazání, omezení zpracování a vznesení námitky proti zpracování.</p>

        <h2>Cookies a technologie sledování</h2>
        <p>Naše stránky používají cookies pro zlepšení uživatelského zážitku. Můžete spravovat nastavení cookies ve vašem prohlížeči.</p>

        <h2>Odkazy na jiné stránky</h2>
        <p>Na našich stránkách mohou být odkazy na externí stránky. Neodpovídáme za jejich ochranu osobních údajů.</p>

        <h2>Změny těchto zásad</h2>
        <p>Jakékoli změny těchto zásad budou zveřejněny na této stránce. Uživatelé budou informováni o významných změnách.</p>

        <h2>Kontakt</h2>
        <p>Pokud máte otázky nebo žádosti týkající se vašich osobních údajů, kontaktujte nás na e-mailu: <a href="mailto:kontakt@example.com">kontakt@example.com</a></p>
    </main>
    <footer>
        <a href="{% url 'home' %}" class="home-button">Hlavní stránka</a>
        <p>© 2024 Martina Frantová</p>
    </footer>
</body>
</html>
